@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: linear-gradient(45deg, blue, violet) no-repeat; */
    background: url(../images/mountain-range-9842371_1280.webp);
}

.register-form {
    /* border: 2px solid; */
    width: 400px;
    height: 400px;
    margin: 12rem auto;
    box-shadow: 2px 12px 16px 4px , 0 0 20px ;
    border-radius: 20px;
    background: linear-gradient(45deg, blue, violet) no-repeat;
}

.input-group {

    padding: 15px;
}

.input-group input,
.input-group button {
    width: 100%;
    height: 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}
.input-group input{
    padding:0 5px;
}

.input-group label {
    font-size: 18px;
    color: white;
}

/* .input-group button{
    width: 100%;
    height: 25px;
    font-size: 18px;
} */