@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Eater&display=swap');

*{
     /* font-family: "Eater", serif;   */
}
h1{
    /* font-family: serif; */
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    /* font-family: cursive; */
    /* font-family: fantasy; */
    /* font-family: 'Courier New', Courier, monospace;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */

    /* font-family: ; */

    /* font-family: "Ballet", cursive; */



}

p{
    font-weight:lighter;
    /* 100 -900 , bold , bolder, lighter */
    font-size: 20px;
    font-style: oblique;

    /* italic , oblique */

    font-variant: small-caps;
}