*{
    margin: 0;
    padding: 0;
}

.box{
    border: 2px solid;
    /* width: 300px;
    height: 400px;

    margin: 10rem auto; */
    /* margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 60px; */

    /* margin: 30px 40px 50px 60px; */
    /* margin: 30px 40px 50px; */
    /* margin: 30px 40px; */
    /* margin: 50px; */

    /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 50px; */

    /* padding: 20px 30px 40px 50px; */
    /* padding: 30px 40px 50px;   */
    /* padding: 30px 40px;
    padding-left: 50px; */

}